li{
    float: left;
    overflow: hidden;
}
li a{
    display: block;
    padding: 8px;
    overflow: hidden;
}
h1{
    float: left;
    text-align: end;
    padding:10px;
    margin-left: 10px;
    overflow: hidden;
}
nav{
    float:right;
    overflow: hidden;
}
.header{
    padding: 20px;
}
body{
    padding:10px;
}